<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.SH.planner.plan.dao.TodoDAO">

	<select id="selectTodoList" parameterType="map" resultType="com.SH.planner.plan.model.TodoList">
		SELECT 
			`id`
			, `userId`
			, `title`
			, `date`
			, `startDate`
			, `endDate`
			, `color`
			, `createdAt`
			, `updatedAt`
		FROM 
			`todoList`
		WHERE
			((`startDate`<![CDATA[ <= ]]>#{date} AND `endDate` >= #{date}) OR `date` = #{date} ) 
			AND `userId` = #{userId}
		
	</select>


	<insert id="basicInsertTodo" parameterType="map">
		INSERT INTO `todoList`
		(
			`userId`
			, `title`
			, `date`
			, `color`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{userId}
			, #{title}
			, #{date}
			, #{color}
			, now()
			, now()
		)
	</insert>





</mapper>