@charset "UTF-8";

#wrap{
	width:1200px;
	height:800px;
	margin:auto;
}

header{
	height:150px;
}
.content{
	width:700px;
}
.day{
	width:400px;
}

#signUpBox{
	width:400px;
	height:550px;
}
#signInBox{
	width:400px;
	height:350px;
}

#signInnerBox{
	width:350px;
}

.ui-widget-header { border: 0px solid #dddddd; background: #fff; } 

 .ui-datepicker-calendar>thead>tr>th { font-size: 14px !important; } 

 .ui-datepicker .ui-datepicker-header { position: relative; padding: 10px 0; } 

 .ui-widget-header .ui-icon { background-image:" https://img.icons8.com/material-outlined/344/right.png"} 

 .ui-state-default,
 .ui-widget-content .ui-state-default,
 .ui-widget-header .ui-state-default,
 .ui-button,
 html .ui-button.ui-state-disabled:hover,
 html .ui-button.ui-state-disabled:active { border: 0px solid #c5c5c5; background-color: transparent; font-weight: normal; color: #454545; text-align: center; } 

 .ui-datepicker .ui-datepicker-title { margin: 0 0em; line-height: 16px; text-align: center; font-size: 14px; padding: 0px; font-weight: bold; } 


 .ui-widget.ui-widget-content { border: 1px solid #eee; } 







 .ui-datepicker-calendar>tbody>tr>td:first-child a { color: red !important; } 

 .ui-datepicker-calendar>tbody>tr>td:last-child a { color: #0099ff !important; } 

 .ui-datepicker-calendar>thead>tr>th:first-child { color: red !important; } 

 .ui-datepicker-calendar>thead>tr>th:last-child { color: #0099ff !important; } 


 
 
 